:root {
    --primary-color: #00A99D;
    --primary-hover-color: #007A72;
    --background-color: #f4f7f6;
    --box-background-color: #ffffff;
    --text-color: #333333;
    --input-border-color: #dddddd;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.main-header {
    background-color: var(--box-background-color);
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.back-button {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}

.logo {
    font-size: 1.8em;
    font-weight: 600;
    color: var(--primary-color);
    margin: 0;
}

.container {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.form-card, .list-card {
    background-color: var(--box-background-color);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

h2 {
    font-weight: 500;
    margin-top: 0;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    width: 100%;
    padding: 14px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--primary-hover-color);
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.user-info .user-name {
    font-weight: 500;
    font-size: 1.1em;
}

.user-info .user-details {
    font-size: 0.9em;
    color: #777;
}

.user-salary {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--primary-color);
}

a.user-item {
    text-decoration: none;
    color: inherit;
    display: block; /* O grid, dependiendo de tu layout */
    transition: background-color 0.2s ease;
}

a.user-item:hover {
    background-color: #f9f9f9;
}

.logo-header {
    height: 35px; /* Ajusta esta altura como prefieras */
    width: auto;
}
